---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";

const { no_layout } = Astro.props;
---

<Layout title="Week 1" dir="w01/A" prev={null} next="B" uselayout={no_layout}>
 <Header id="w01/A/A">An Overview of C++</Header>
 <p>
  <strong
   >This is the Course Reader for CS 150, C++ Programming I, at Orange Coast
   College</strong
  >. CS 150 is a <strong>second-semester</strong> course for majors who have already
  taken a course covering variables, I/O, calculations, loops, decisions, functions
  and arrays.
 </p>
 <p>
  The reader is short and concise, in line with Leonard Elmore's advice: <i
   >leave out the parts readers skip.</i
  > It focuses on the parts you need to get your work done.
 </p>
 <p>To get more details, consult one of these highly recommended texts.</p>
 <ul>
  <li>
   <strong>The C++ Primer, 5<sup>th</sup> Edition. Lippman</strong>, Lajoie and
   Moo
  </li>
  <li>
   <strong
    >The C++ Programming Language, 4<sup>th</sup>
    Edition</strong
   >, Bjarne Stroustrup
  </li>
 </ul>
 <p>
  These are <strong>professional</strong> books to keep on your shelf after the course
  is over. Throughout the text you'll also find links pointing to additional reading,
  which is <mark>optional</mark>.
 </p>
</Layout>
