---
import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.vue";
import A from "./A/A.astro";
import B from "./A/B.astro";
import C from "./A/C.astro";
import D from "./A/D.astro";
import E from "./A/E.astro";
---

<div>Index</div>
<!-- <Layout title="CSA150 Course Reader">
 <Breadcrumbs dir="w01/A" />
</Layout> -->
