---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import imageBox from "../images/box.png";
const { useLayout } = Astro.props;
---

<Layout
 title="Week 2"
 dir="w02/"
 displayLayout={useLayout}
 chapterSubSections={[]}
>
 <Header id="A">Variables</Header>
 <div>
  <p class="firstLine">
   Computer systems consist of hardware and software, working together to carry
   out the
   <b>information processing cycle</b>. <b>I</b> (input),
   <b>P</b> (processing), and <b>O</b> (output). In this section we'll to look at
   the objects (<b>variables</b>) that store information (<b>values</b>), and
   how you can create, modify and display them.
  </p>
  <p>
   <img
    src={imageBox}
    class="right"
    alt="Decorative image that illustrates a variable as a box."
   />
   A <b>variable</b> is a <mark>named</mark> area in memory that stores a <b
    >value</b
   >. If you want a quick physical analogy, think of a box with a label on it.
   Here are the five things which you can do with a variable:
  </p>
  <ul>
   <li>
    <mark>Declare</mark>: associates a name with a type. (What kind of variable
    is it?)
   </li>
   <li>
    <mark>Define</mark>: allocate or reserve space for the variable. (Create the
    variable.)
   </li>
   <li>
    <mark>Initialize</mark>: provide a starting value when the variable is
    created.
   </li>
   <li><mark>Assign</mark>: copy a new value into an existing variable.</li>
   <li>
    <mark>Input</mark>: read a value and use that to initialize or assign to a
    variable.
   </li>
  </ul>
  <h2>Declaration</h2>
  <p>
   Sometimes, a variable will be created in one part of your program, (or even
   outside of your program, by the operating system), and you want to use that
   variable in your code. To do so, you need to
   <mark>declare</mark> the variable. A declaration associates a variable name with
   a particular type, but <mark>does not</mark>
   create the variable.
  </p>
  <pre class="language-cpp"><code>extern string ASSIGNMENT;</code></pre>
  <p>
   Here is a <mark>declaration</mark> for a <b>global</b> variable which you can
   use in your homework, but <mark>which is defined elsewhere</mark>.
   <p></p>
  </p>
 </div>
</Layout>
