@import "./prism.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&&display=swap");
html {
 scroll-behavior: smooth;
}
body {
 @apply bg-slate-200 dark:bg-slate-900 dark:text-slate-300 text-black text-xs md:text-base;
}
mark {
 //  font-weight: bold;
 @apply py-0.5 px-1 bg-blue-300/50 text-slate-700 dark:bg-slate-500/50 rounded-md dark:text-slate-300 font-semibold;
 tt {
  @apply text-black dark:text-blue-300 font-bold;
 }
}
div {
 a {
  @apply underline-offset-2 underline hover:text-blue-500 max-w-xl;
 }
}
strong {
 @apply dark:text-blue-300;
}
tt {
 @apply font-bold dark:text-blue-300;
}
section {
 @apply leading-6 flex flex-col min-w-fit text-sm sm:text-lg;
}
p {
 @apply p-2 pb-4;
 tt {
  @apply inline;
 }
}
ul,
ol {
 font-family: Arial, Helvetica, sans-serif;
 @apply flex flex-col space-y-4;
}
li {
 @apply list-disc ml-5 leading-6;
}
strong {
 @apply font-bold p-0;
}
blockquote {
 margin-left: 0.5em;
 border-left: silver 5px solid;
 border-bottom: silver 1px solid;
 padding: 0.25em;
 padding-left: 1em;
 padding-right: 1em;
 font-style: italic;
 strong {
  @apply bg-stone-300 dark:text-black;
 }
 @apply bg-stone-300 py-2 dark:text-black leading-6;
}
// img {
//  @apply w-full;
// }
img.right {
 float: right;
}
img.width-64 {
 width: 64px;
}
img.width-32 {
 width: 32px;
}
img.width-25 {
 width: 25%;
}
img.width-30 {
 width: 30%;
}
img.width-40 {
 width: 40%;
}
img.width-50 {
 width: 50%;
}
img.width-60 {
 width: 60%;
}
img.width-75 {
 width: 75%;
}
img.width-80 {
 width: 80%;
}
img.width-90 {
 width: 90%;
}
img.width-100 {
 width: 100%;
}
img.inline {
 margin: 1em;
 display: block;
 clear: both;
}

img.inlineCenter {
 margin: 1em;
 margin-left: auto;
 margin-right: auto;
 display: block;
 clear: both;
 @apply w-full md:w-4/5 lg:w-3/4 rounded-md;
}
div.caption {
 font-style: italic;
 font-size: 85%;
 margin: auto;
 line-height: 115%;
}
div.highlight {
 padding: 1em 1.5em 0.05em 1.5em;
 border-radius: 5px;
 box-shadow: 5px 5px 10px 5px #ccc;
 background-color: honeydew;
 font-style: italic;
 font-size: 90%;
}
.alert.alert-error,
.alert.alert-success,
.alert.alert-info {
 @apply w-fit justify-center self-center;
 //  code {
 //   @apply bg-red-400 drop-shadow-none;
 //  }
}
div.highlight.alert,
div.highlight.alert-success,
div.highlight.info {
 @apply shadow-none bg-orange-300 text-black not-italic flex p-2;
 svg {
  @apply self-start mt-5;
 }
 p {
  @apply inline-block;
  tt {
   @apply text-black;
  }
 }
}
div.highlight.alert-success {
 @apply bg-teal-500;
}
div.highlight.alert-info {
 @apply bg-blue-300;
 p {
  tt {
   @apply text-black;
  }
  strong {
   @apply text-black;
  }
 }
}
pre,
tt,
kbd,
code {
 font-family: code, consolas, monospace !important;
}

.pullquote {
 font-family: handwriting;
 font-style: italic;
 font-size: 1.5em;
 text-align: center;
 color: navy;
 border: solid 1px silver;
 padding: 1em;
 margin: 1em;
 background-image: url(images/bg.gif);
}

// .info {
//  background-image: url(images/info.png);
//  background-repeat: no-repeat;
//  background-position: 0px 10px;
//  width: 95%;
//  margin-left: -45px;
//  padding-left: 45px;
// }
//
// .info p {
//  font-family: body;
//  border: solid 1px silver;
//  color: navy;
//  padding: 1em;
//  margin-top: 1em;
//  margin-bottom: 1em;
//  background-image: url(images/bg.gif);
// }

div.bug {
 background-image: url(images/bug-icon.png);
 background-repeat: no-repeat;
 background-size: 64px;
 background-position: 0px 10px;
 z-index: 200;
 width: 95%;
 margin-left: -65px;
 padding-left: 65px;
}

div.bug p {
 font-family: body;
 font-style: italic;
 border: solid 1px red;
 padding: 1em;
 padding-left: 2em;
 margin-top: 1em;
 margin-bottom: 1em;
 border-radius: 5px;
 box-shadow: 3px 3px 6px #666;
}

div.syntaxbox {
 font-size: 1.5em;
 font-weight: bold;
 text-align: center;
 width: 85%;
 padding: 0.5em 0 0.5em 0;
 margin: auto;
 border: 1px solid forestgreen;
 border-radius: 7px;
 box-shadow: 7px 7px 15px #ccc;
}

span.small-ref {
 font-size: 0.6em;
 font-style: italic;
 color: #666;
}

div.pcode li {
 font-family: pcode;
 font-size: 1.1em;
 line-height: 0.9em;
}

div.redbox {
 width: 90%;
 margin: auto;
 padding: 1.5em;
 padding-top: 0.5em;
 background-color: ivory;
 border: 1px dashed red;
 border-radius: 7px;
 box-shadow: 7px 7px 15px #ccc;
}

details summary {
 font-style: italic;
 @apply bg-slate-100 dark:bg-slate-800 overflow-auto;
}

pre.pcode {
 background-image: url(images/chalkboard.jpg);
 background-repeat: no-repeat;
 width: 90%;
 font-family: "Pangolin" !important;
 font-weight: normal;
 font-style: italic;
 color: white;
 font-size: 1.2em;
 margin-left: 0;
 padding: 1em;
 padding-left: 2em;
 overflow: hidden;
 border-radius: 5px;
 line-height: 123%;
 border: 1px solid white;
}

pre.pcode em {
 color: lightgreen;
 border-bottom: 1px dotted silver;
 margin-bottom: 1em;
}

pre.pcode i {
 color: yellow;
}
code {
 @apply text-xs;
}

table.options {
 text-align: center;
 width: 75%;
 border: 1px solid gray;
 border-radius: 5px;
}

table[class="options"] td {
 text-align: center;
 @apply p-1;
 border-right: 1px solid gray;
 border-bottom: 1px solid gray;
 font-size: 1.25em;
 font-family: monospace;
}
table[class="options"]icons td {
 text-align: left !important;
 font-family: body !important;
}
table[class="options"] td.desc {
 font-size: 1em;
}

table[class="options"] th {
 font-size: 115%;
 font-family: Consolas, monospace;
 font-weight: bold;
 border-bottom: 1px dashed navy;
}

table[class="trace"] th,
table[class="trace"] td {
 border-right: 1px solid gray;
 border-bottom: 1px solid gray;
 color: navy;
 font-family: Consolas, "Courier New", Courier, monospace;
}

table.trace {
 width: 500px;
 border: 1px silver dashed;
}

table[class="traceace"] td > input {
 border: 1px dashed silver;
 background-color: lightyellow;
 font-family: Consolas, "Courier New", Courier, monospace;
 font-size: 1em;
 font-weight: bold;
 text-align: center;
 color: forestgreen;
}

table[class="icons"] th,
table[class="icons"] td {
 border-right: 1px solid gray;
 border-bottom: 1px solid gray;
 font-size: 105%;
 color: indigo;
 font-family: body;
}

table.icons {
 width: 500px;
 border: 1px silver dashed;
}

table.keywords {
 width: 100%;
 border: 1px navy dashed;
}
table[class="keywords"] td {
 border-right: 1px solid gray;
 border-bottom: 1px solid gray;
 font-size: 80%;
 color: navy;
 font-family: Consolas, "Courier New", Courier, monospace;
 padding: 2px;
 padding-left: 1em;
 vertical-align: top;
 width: 25%;
}
code,
pre {
 @apply overflow-x-auto;
}
i {
 @apply shadow-none;
}

h3.i {
 @apply text-sm text-blue-300;
 margin-bottom: 0;
 border-bottom: 1px dotted silver;
}
