@import "./prism.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&&display=swap");
body {
 @apply bg-slate-200 dark:bg-slate-900 dark:text-slate-300 text-black sm:text-xl;
}
mark {
 font-weight: bold;
 @apply p-0.5 dark:bg-slate-500/50 rounded-md dark:text-slate-300;
 tt {
  @apply text-black;
 }
}
strong {
 @apply dark:text-blue-300;
}
tt {
 @apply font-bold dark:text-blue-300;
}
section {
 @apply leading-6 flex flex-col min-w-fit text-sm sm:text-lg;
}
p {
 @apply pb-6 pt-2;
}
ul,
ol {
 font-family: Arial, Helvetica, sans-serif;
 @apply flex flex-col space-y-4;
}
li {
 @apply list-disc ml-5 leading-6;
}
strong {
 @apply font-bold p-0;
}
blockquote {
 margin-left: 0.5em;
 border-left: silver 5px solid;
 border-bottom: silver 1px solid;
 padding: 0.25em;
 padding-left: 1em;
 padding-right: 1em;
 font-style: italic;
 strong {
  @apply bg-stone-300 dark:text-black;
 }
 @apply bg-stone-300 py-2 dark:text-black leading-6;
}
img {
 @apply w-full;
}
img.width-64 {
 width: 64px;
}
img.width-32 {
 width: 32px;
}
img.width-25 {
 width: 25%;
}
img.width-30 {
 width: 30%;
}
img.width-40 {
 width: 40%;
}
img.width-50 {
 width: 50%;
}
img.width-60 {
 width: 60%;
}
img.width-75 {
 width: 75%;
}
img.width-80 {
 width: 80%;
}
img.width-90 {
 width: 90%;
}
img.width-100 {
 width: 100%;
}
img.inline {
 margin: 1em;
 display: block;
 clear: both;
}

img.inlineCenter {
 margin: 1em;
 margin-left: auto;
 margin-right: auto;
 display: block;
 clear: both;
 @apply w-full md:w-4/5 lg:w-3/4 rounded-md;
}
pre,
tt,
kbd,
code {
 font-family: code, consolas, monospace !important;
}

.pullquote {
 font-family: handwriting;
 font-style: italic;
 font-size: 1.5em;
 text-align: center;
 color: navy;
 border: solid 1px silver;
 padding: 1em;
 margin: 1em;
 background-image: url(images/bg.gif);
}

.info {
 background-image: url(images/info.png);
 background-repeat: no-repeat;
 background-position: 0px 10px;
 width: 95%;
 margin-left: -45px;
 padding-left: 45px;
}

.info p {
 font-family: body;
 border: solid 1px silver;
 color: navy;
 padding: 1em;
 margin-top: 1em;
 margin-bottom: 1em;
 background-image: url(images/bg.gif);
}

div.bug {
 background-image: url(images/bug-icon.png);
 background-repeat: no-repeat;
 background-size: 64px;
 background-position: 0px 10px;
 z-index: 200;
 width: 95%;
 margin-left: -65px;
 padding-left: 65px;
}

div.bug p {
 font-family: body;
 font-style: italic;
 border: solid 1px red;
 padding: 1em;
 padding-left: 2em;
 margin-top: 1em;
 margin-bottom: 1em;
 border-radius: 5px;
 box-shadow: 3px 3px 6px #666;
}

div.syntaxbox {
 font-size: 1.5em;
 font-weight: bold;
 text-align: center;
 width: 85%;
 padding: 0.5em 0 0.5em 0;
 margin: auto;
 border: 1px solid forestgreen;
 border-radius: 7px;
 box-shadow: 7px 7px 15px #ccc;
}

span.small-ref {
 font-size: 0.6em;
 font-style: italic;
 color: #666;
}

div.pcode li {
 font-family: pcode;
 font-size: 1.1em;
 line-height: 0.9em;
}

div.redbox {
 width: 90%;
 margin: auto;
 padding: 1.5em;
 padding-top: 0.5em;
 background-color: ivory;
 border: 1px dashed red;
 border-radius: 7px;
 box-shadow: 7px 7px 15px #ccc;
}

details summary {
 font-style: italic;
 @apply bg-slate-100 dark:bg-slate-800 overflow-auto;
}

pre.pcode {
 background-image: url(images/chalkboard.jpg);
 background-repeat: no-repeat;
 width: 90%;
 font-family: "Pangolin" !important;
 font-weight: normal;
 font-style: italic;
 color: white;
 font-size: 1.2em;
 margin-left: 0;
 padding: 1em;
 padding-left: 2em;
 overflow: hidden;
 box-shadow: 3px 3px 6px 3px #ccc;
 border-radius: 5px;
 line-height: 123%;
}

pre.pcode em {
 color: lightgreen;
 border-bottom: 1px dotted silver;
 margin-bottom: 1em;
}

pre.pcode i {
 color: yellow;
}
code {
 @apply text-xs;
}
