@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&&display=swap");
body {
 @apply bg-slate-200 text-slate-800 text-base sm:text-lg;
}
mark {
 font-weight: bold;
}
tt.y {
 background: yellow;
}
section {
 @apply leading-7 flex flex-col space-y-3 min-w-fit;
}
ul,
ol {
 font-family: Arial, Helvetica, sans-serif;
 @apply leading-6 flex flex-col space-y-2;
}
li {
 @apply list-disc ml-5;
}
strong {
 @apply font-bold p-0;
}
blockquote {
 margin-left: 0.5em;
 border-left: silver 5px solid;
 border-bottom: silver 1px solid;
 padding: 0.25em;
 padding-left: 1em;
 padding-right: 1em;
 font-style: italic;
 @apply bg-stone-300 py-2;
}
