---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
const { useLayout } = Astro.props;
---

<Layout
 title="Week 2"
 dir="w03/"
 displayLayout={useLayout}
 chapterSubSections={[]}
>
 <Header id="H">
  <h1>The Postcondition</h1>
 </Header><div>
  <p class="firstLine">
   Loops end when reaching their bounds.
   <mark>not</mark> when they've <mark>reached the goal!</mark>
   After the loop is over, you have to ask yourself: "<mark
    >Has my loop reached its goal?</mark
   >"
  </p>
  <p>
   In our case, the problem asked us to count the period as well, and we haven't
   done that. So, after the loop is over we'll have to add a <mark
    >postcondition</mark
   > statement like this:
  </p>
  <pre
   class="pcode">str &lt;- string supplied to the problem
counter &lt;- 0
pos &lt;- 0
letter &lt;- str.at(pos)
while letter is not a period
&lbrace;
    counter &lt;- counter + 1
    pos &lt;- pos + 1
    letter &lt;-&gt; str.at(pos)
&rbrace;
<em>Step 6: The Loop Postcondition (reached the goal?)</em>
<i>counter &lt;- counter + 1</i>  // count the period
// Now the variable counter contains our goal</pre>
  <p>
   Now our loop has correctly counted the number of characters in the first
   sentence. <mark>Or has it?</mark> Next we'll look at two small details that I
   glossed over.
  </p>
 </div>
</Layout>
