---
import ChapterSideBar from "../utils/ChapterSideBar.vue";
---

<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="../styles/prism.css" />
  <script src="../utils/prisms"></script>
  <link rel="icon" type="image/svg+xml" href="/icon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>CSA150 Course Reader</title>
 </head>

 <body>
  <div class="relative w-full h-screen flex justify-center scroll-auto">
   <iframe
    src="toc"
    title="W3Schools Free Online Web Tutorials"
    class="w-1/6 hidden lg:block"
   >
   </iframe>

   <iframe name="iframe_main" src="" class="w-full lg:w-5/6"></iframe>
  </div>
 </body>
</html>
