---
import ChapterSideBar from "../utils/ChapterSideBar.vue";
import SectionAside from "../utils/SectionAside.vue";
import TopNavbar from "../utils/TopNavbar.vue";
import "../styles/prism.css";
import "../styles/global.scss";
export interface Props {
 title: string;
 dir: string;
 displayLayout: boolean;
 chapterSubSections: string[];
 //  prev: any;
 //  next: any;
}
// const { title, dir, prev, next, uselayout } = Astro.props;

const { title, displayLayout, chapterSubSections } = Astro.props;
---
<script>
    // Get the button element
let hamburger_menue :HTMLButtonElement | any = document.getElementById('hamburger_menue');
let side_bar_mobile :HTMLElement | any = document.getElementById("side-bar-mobile")
hamburger_menue.addEventListener('click', function() {
   side_bar_mobile.classList.add("block") 
});
</script>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="../styles/prism.css" />
  <script src="../utils/prisms"></script>
  <link rel="icon" type="image/svg+xml" href="/icon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
 </head>
 <body>
  {
   displayLayout ? (
    <div class="flex w-screen h-screen">
     <!--Side bar -->
 <nav class="hidden lg:block bg-slate-200 dark:bg-slate-800 lg:w-2/6 xl:w-1/5 h-screen overflow-auto border-r-2 border-r-slate-300 " id="side-bar-mobile">
      <ChapterSideBar />
     </nav> 
 
     <div class="h-full w-full lg:w-4/6 xl:w-4/5 relative ">
    <!--Top bar navigation -->
      <nav class="w-100  border-b-2 border-slate-300" id="top-navbar">
       <TopNavbar sections={chapterSubSections} client:load />
    
      </nav>
     <!--Main content -->
      <div class="absolute right-1/2 w-10 h-10 bg-white sm:bg-green-500 md:bg-blue-500 lg:bg-red-500 xl:bg-orange-500 2xl:bg-purple-500 hidden"></div>
      
      <div class="flex relative" id="main-content">
       <main class="px-3 sm:p-5 h-full w-full  xl:w-4/5 overflow-auto">
       
         <slot />
       </main>
      <aside class="hidden xl:block  xl:w-1/5 h-full border-l-2 border-slate-300">
        <SectionAside sections={chapterSubSections} />
       </aside>
      </div>
     </div>
    </div>
   ) : (
    <div class="border-b-2 border-b-slate-300 p-5 relative">
     <slot />
    </div>
   )
  }
 </body>
</html>

<style lang="scss">
 #main-content {
  height: 90%;
 }

 #top-navbar {
  height: 10%;
 }
</style>
